body {
  display: block;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header CSS */

.header {
  background-color: #03a9f4;
  padding: 10px 10px;
}

.header-text {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

/* Footer CSS */
.footer {
  background-color: #dbf4ff;
  text-align: center;
  padding: 5px 0px;
}

.footer-text {
  font-size: 18px;
}

/* Container CSS */

.container {
  display: flex;
  flex-direction: row;
}

/* 
Algorithm Options CSS 
*/

.visualizer-config-panel {
  background-color: #f9fafc;
  padding: 45px 10px;
  width: 200px;
  border-right: 1px solid #b4b0b0;
}

.configuration-options {
  display: flex;
  flex-direction: column;
}

.config-option {
  padding: 10px;
}

.vcp-title-text {
  font-size: 19px;
  font-weight: 500;
}

.vcp-label {
  font-size: 14px;
}

/* 
Algorithm Options CSS 
*/

.logger-panel {
  width: 450px;
  /* height: 100%; */
  padding: 45px 0px 00px 0px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #b4b0b0;
}

.av-status {
  border-bottom: 1px solid #b4b0b0;
  padding: 0px 5px 20px 5px;
}
.avs-text {
  font-size: 14px;
  font-weight: 700;
}

.lp-logs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lp-logs-title {
  background-color: #515151;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding-left: 2px;
}

.lp-el-content {
  background-color: #2a2929;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.lp-el-text {
  font-size: 11px;
  color: white;
  padding: 1px 0px;
}

/* Animation panel CSS */

.animation-panel {
  background-color: #fffef6;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 45px 0px;
}

.animation-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-group {
  margin: 10px;
}

.item-value {
  border: 1px #5c5b5b solid;
  height: 40px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-index {
  background-color: #494949;
  color: white;
  padding: 3px 6px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-div {
  background-color: #ffbda8;
  padding: 5px;
  display: none;
}
